
body
{
	background: white;
	font-family: impact;
}
.wrapperLink
{
	overflow: auto;
	width: 1000px;
}
.wrapperButton
{
	overflow: auto;
	width: 915px;
}
.posFloat
{
	float: left;
	margin-right: 5px;
}
.posFloatButton
{
	float: left;
	margin-right: 5px;
}
.longPosFloat
{
	float: left;
	margin-right: 200px;
}
.shiftDown
{
	padding: 70px 0;
    border: 1px;
    text-align: center;
    margin-top: 10px;
	background-image: url(car1.jpg);
}
.whiteButton
{
	background-color: white;
	text-align: center;
	color:black;
	font-size: 15px;
	padding: 15px 32px;
	border: 0px;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.redButton
{
	background-color: red;
	text-align: center;
	color:black;
	font-size: 15px;
	padding: 15px 32px;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.redButtonHov:hover
{
	 box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
	 background-color: black;
	 color: red;
}
.blackButton
{
	background-color: black;
	color:red;
	text-align: center;
	font-size: 15px;
	padding: 15px 32px;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.blackButtonHov:hover
{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: red;
    color: black;
}
.column
{
	float: left;
	width: 30%;
	padding: 15px;
	margin-top: 15px;
	text-align: center;
	background-color: #33DC76;
	border-width: 1px;
	border-style: solid;
}
.columnFourth
{
	float: left;
	width: 22%;
	padding: 15px;
	margin-top: 30px;
	text-align: center;
	background-color: #DC7633;
	border-width: 1px;
	border-style: solid;
}
.columnHalf
{
	float: left;
	width: 47%;
	padding: 15px;
	margin-top: 30px;
	text-align: center;
	background-color: #44DC33;
	border-width: 1px;
	border-style: solid;

}
.columnThreeFourth
{
	float: left;
	width: 70%;
	padding: 15px;
	margin-top: 30px;
	text-align: center;
	background-color: #DCCB33
	border-width: 1px;
	border-style: solid;

}
.footer
{
	padding: 20px;
	text-align: center;
	margin-top : 20px;
	background-color: #33DCCB;
}
.header
{
	padding: 20px;
	text-align: center;
	margin-top : 20px;s
}
.row:after
{
    content: "";
    display: table;
    clear: both;
}
input[type=text],input[type=password]{
	width: 75%;
	display: inline-block;
	text-align: center;
	margin-bottom: 30px;
	font-size: 20px;
	border-bottom: 3px light;
	border-top: none;
	border-left: none;
	border-right: none;
}

button[type=submit]{
	border-radius: 50%;
	background-color: red;
	font-size: 30px;
	padding: 20px;
	color: white;
	border:solid black;
}

label
{
	font-size: 30px;
}
